.oxmod-menu-list {
  /* CSS */
  font-size: 0;
}
.oxmod-menu-list ul {
  padding: 0 10px;
}
.oxmod-menu-list li {
  border-bottom: solid .5px #f1f1f1;
  padding: 10px 0;
}
.oxmod-menu-list em,
.oxmod-menu-list sub {
  font-style: normal;
  vertical-align: baseline;
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
}
.oxmod-menu-list em {
  font-size: 14px;
  color: #333;
}
.oxmod-menu-list sub {
  color: #999;
  font-size: 12px;
  text-align: right;
  padding-right: 25px;
}
.oxmod-menu-list sub:after {
  content: ' ';
  width: 8px;
  height: 8px;
  border-color: #888;
  border-style: solid;
  border-width: 1px 1px 0 0;
  font-size: 0;
  float: right;
  -webkit-transform: rotate(45deg);
  margin-top: 4px;
  margin-right: -20px;
}
